
.main {
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  transition: all .2s linear;

  &:hover {
    background-color: #eaeaea;
  }
}